<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorator="templateHeader" >
<head>
<meta charset="utf-8">
<title>Liste Des Participants</title>
</head>
<body>
<div layout:fragment="pageContenu">
<div class="container mt-5">
  <div class="card">
      <div class="card-header"> Liste Des Formations</div>
      <div class="card-body">
        <br>
        <form method="get" th:action="@{formations}">
          <div class="form-group">
             <label>Nom Formation: </label>
             <input type="text" name="nomFormation" th:value="${motCleF}">
             <button class="btn btn-primary">Chercher</button>
          </div>
        </form>
         <table class="table">
            <tr>
               <th>ID</th><th>Nom Formation</th><th>Nombre Places</th><th>Date Debut</th><th>Date Fin</th><th>Session</th><th>Formateur</th>
               <th>Suppression</th><th>Modification</th>
            </tr>
            <tr th:each="f : ${listF}">
              <td th:text="${f.id}"></td>
              <td th:text="${f.nomFormation}"></td>
              <td th:text="${f.nbrPlaces}"></td>
              <td th:text="${f.dateDebut}"></td>
              <td th:text="${f.dateFin}"></td>
              <td th:text="${f.session?.nomSession}"></td>
              <td th:text="${f.formateur?.prenom}"></td>
              <td ><a onclick="return confirm('Etes vous sure de vouloir supprimer? ')" th:href="@{supprimerFormation(id=${f.id},nomFormation=${motCleF}, page=${currentPage}, size=${size})}" class="btn btn-danger">Supprimer</a></td>
              <td ><a class="btn btn-danger" th:href="@{modifierFormation(id=${f.id})}">Modifier</a></td>
            </tr>
         </table>
         <ul class="nav nav-pills">
            <li th:each="page, status : ${pages}">
               <a th:class="${status.index == currentPage ? 'btn btn-primary' : 'btn'}" th:href="@{formations(page=${status.index},size=${size},mcF=${motCleF})}" th:text="${status.index}"></a>
            </li>
         </ul>
      </div>
  </div>
</div>
</div>
</body>
</html>
</html>